@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.customNavLink{
  color: #747474!important;

}

.customNavLink:hover{
  color: #1A1B1F!important;
  
}

.nav{
transition: all 0.5s !important;
background-color: rgba(255, 255, 255, 0.9) !important;
z-index: 997 !important;
padding: 15px 0 !important;


}

.bodyContainer {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  overflow: hidden;

}

.hero {
  width: 80vw;
  height: 40vh;
  margin: 100px auto 5px auto;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;;
  color:#1A1B1F;
  
}
.hero p{
  font-size: 20px;
}

.hero h1{
  font-size: 64px;
  margin: 10px 0;
  font-weight: bold;
}


.techStack {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px auto 50px auto;
  background-color: #ffffff;
  transition: padding 0.2s;
}

.techStack:hover {
  padding: 10px;
}

.techStack h2,
.myProject h2 {
  text-align: center;
  margin: 50px 0;
  font-family: 'Montserrat', sans-serif;
  color:#1A1B1F;
font-weight: bold;
font-size: 64px;

}


.ellipsis{
  
  white-space: nowrap;
  overflow: hidden;
text-overflow: ellipsis;}



.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  
}







/* @media only screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    margin-top: 0;
    height: 55vh;
  }



} */


/* @media only screen and (max-width: 380px) {
  .hero {

    height: 65vh;
  }


} */

@media only screen and (max-width: 992px) {
  .hero {
    width: fit-content;
    height: fit-content;
    margin-left:10px;
  }
  .hero h1{
    font-size: 40px;
  }


}

