.customNavLink{
    color: #16507b !important;
    font-weight: bold;
}

.customNavLink:hover{
    color: #0d6efd !important;
}

.nav{
transition: all 0.5s !important;
background-color: rgba(243, 249, 253, .7) !important;
z-index: 997 !important;
padding: 15px 0 !important;
border-bottom: 1.5px solid #e6f2fb !important;



}